html{
	font-size: 62.5%;
}

body{
	font-size: 1.6rem;
	color: #333333;
    background: #FFFFFF;
    margin: 0;
}

ul{
    padding: 0;
}

a{
    text-decoration:none;
    color: #000;
}

#nav{
    width: 100%;
    height: 650px;
    background-image: url("images/Fotolia_32565555_L.png");
    background-size: cover;
	background-position: center center;
}
#nav-items{
    position: relative;
    left: 20vw;
    height: 100%;
    width: 362px;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    display: flex;
    flex-direction: column;
}
.nav-item{
    width: 100%;
}
.nav-button{
    cursor: pointer;
}
#nav-title{
    padding: 60px 0;
    font-size: 2em;
}
#nav-links{
    list-style-type: none;
    margin: 40px 0;
}
.nav-link{
    margin: 20px 0;
}
.nav-pop{
    margin: 5px;
    font-size: 1.3em;
}

.section{
    text-align: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
#about{
    height: 750px;
    display: flex;
    flex-direction: row;
    margin: 0 150px;
}
.section-title{
    padding: 20px;
}
.section-title::after{
    content: "";
    display: block;
    width: 240px;
    height: 1px;
    background-color: #000;
    position: relative;
    top: 30px;
    margin: 0 auto;
}
.section-title-main{
    margin-bottom: 10px;
}
.section-text{
    margin: 50px 0;
}
.section-button{
    width: 300px;
    border-color: #000;
    color: black;
    margin: 30px auto;
    padding: 12px 120px;
}
.section-button::after{
    content: "";
    display: block;
    position: relative;
    height: 5px;
    width: 5px;
    top: -8px;
    left: 130px;
    border-bottom: 1px double #000;
    border-right: 1px double #000;
    transform: rotate(-45deg);
    filter: drop-shadow(2px 2px 0 black);
}
.section-half{
    width: 50%;
}
#about-img1{
    top: 300px;
    position: relative;
}
#about-img2{
    top: -260px;
    position: relative;
}
#menu{
    background-color: #fffff5;
    padding: 100px 0;
}
#menu-slides{
    display: flex;
    flex-direction: row;
    margin: 20px 5vw;
}
.menu-slide{
    width: 33.3%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
.slide-img{
    background-image: url("images/pattern_07.png");
    background-repeat: no-repeat;
    background-position: center;
}
.slide-title{
    font-size: 1.5em;
    margin: 20px 0;
}
.slide-text{
    margin: 0 10px; 
}

#news{
    padding: 100px 0;
}
#news-sections{
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}
.news-section{
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 20px 0;
}
.news-info{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 10px 0;
}
.news-detail{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.news-tag{
    border-radius: 5px;
    margin-right: 10px;
    padding: 2px 5px;
    color: #fff;
}
.news-text{
    font-size: 1.2em;
}

#access{
    background-color: #fffff5;
    padding-top: 100px;
}

#footer{
    padding: 30px 0;
    text-align: center;
}
#footer-links{
    margin: 30px auto;
}
.footer-link{
    margin: 0 30px;
}
#copyright{
    margin: 60px 0;
}
#header{
    display: flex;
    flex-direction: row;
}
.header-content {
    max-width: 960px; 
   margin: 0 auto;
   padding: 10px;
   display: flex;
   width: 100%;
     box-sizing: border-box;
   justify-content: space-between;
 }
#logo{
    font-size: 35px;
}
.hnav-link {
    display: inline-flex;
    align-items: center;
    height: 100%;
}
.hnav-link a {
    padding: 10px;
    text-decoration: none;
    color: black;
}
.hnav-pop {
  
    font-size: 20px;
    margin: 0 10px;
}
.social {
    display: inline-flex;
    align-items: center;
}
.divider{
    width: 100vw;
    height: 1px;
    background-color: #000;
}
#contact{
    padding: 50px 0;
}
.section-form{
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: end;
    right: calc(50vw - 250px);
}
.form-input{
    margin: 20px 20px;
    height: 30px;
    border: 1px solid;
    border-color: #000;
    border-radius: 0%;
}
.dark-botton{
    background-color: #5e5e5e;
    color: #fff;
    margin: 0 30px;
}
.dark-botton::after{
    border-color: #fff;
    filter: drop-shadow(2px 2px 0 #fff);
}